<div class="container">
  <img [src]="product.imageUrl" alt="product.name" />
  <div class="details">
    <div class="header">
      <span class="name">
        {{ product.name }}
      </span>
      <span class="favorite {{ product.favorite ? '' : 'not' }}"> ♥ </span>
    </div>

    <div class="origins">
      <span *ngFor="let origin of product.origins">
        {{ origin }}
      </span>
    </div>

    <div class="tags">
      <app-tags [productPageTags]="product.tags" justifyContent="start"></app-tags>
    </div>

    <div class="arrival-time">
      <span>
        the product will reach your doorstep<strong>{{
          product.arrivalTime
        }}</strong>
      </span>
    </div>

    <div class="price">
      <span>
        {{ product.price | currency }}
      </span>
    </div>

    <button (click)="addToCart()">Add to Cart</button>
  </div>
</div>

<!-- <div class="container">
  <img [src]="product.imageUrl" alt="product.name" />

  <div class="details">
            <div class="header">
            <span class="name">
            {{ product.name }}
            </span>
            <span class="favorite {{ product.favorite ? '' : 'not' }}"> ♥ </span>
            </div>
         <div class="origins">
            <span *ngFor="let origin of product.origins">
            {{ origin }}
            </span>
        </div>
        <div class="tag">
      <app-tags [productPageTags]="product.tags"></app-tags>
        </div>
        <div class="arrival-time">
         <span>
        the product will reach your doorstep<strong>{{
          product.arrivalTime
        }}</strong>
      </span>
        </div>
        <div class="price">
         <span>
        {{ product.price | currency }}
         </span>
        </div>
        <button>Add to Cart</button>
    </div>
</div> -->
