<app-search></app-search>
<app-tags></app-tags>
<ul>
  <li *ngFor="let product of products">
    <a routerLink="/product/{{product.id}}">
    <img src="{{product.imageUrl}}" alt="">
    <div class="content">
      <div class="name">
        {{product.name}}
      </div>
      <span class="favorite {{product.favorite?'':'not'}}">♥</span>
      <div class="product-itemfooter">
        <div class="origins">
          <span *ngFor="let origin of product.origins">
            {{origin}}
          </span>
        </div>
        <div class="arrival-time">
          <span>🕒</span>
          {{product.arrivalTime}}
        </div>
        
      </div>
      <div class="price">
        {{product.price|currency}}
      </div>
    </div>
  </a>
  </li>
</ul>